body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

.hero-section {
  background-image: url('panda.png');
  background-size: cover;
  background-position: center top;
  min-height: 100vh;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
} 

.main-title {
  font-size: 4rem; 
  margin-top: 20vh; 
  margin-bottom: 10px;
  color: white !important; 
  text-shadow: 2px 2px 0 #4E342E;
}

.sub-title {
  font-size: 1.5rem;
  margin-bottom: 40px; 
  color: white !important;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

.container {
  background-color: rgba(255, 255, 255, 0.95); 
  border-radius: 20px 20px 0 0; 
  padding: 40px;
  width: 100%;  
  max-width: 600px;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.1);
  margin-top: 50px; /* 余白調整 */
  flex-grow: 1; 
} 

h2 {
  font-size: 2rem;
  margin-top: 0; 
  border-bottom: 2px solid #8D6E63;
  display: inline-block;
  padding-bottom: 5px;
  color: #4E342E !important;
}

h3 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #6D4C41 !important;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

table {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  background-color: transparent;
}

td {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  font-weight: bold;
  border: 1px solid #8D6E63;
  padding: 10px;          
  text-align: left; 
}

th {
  background-color: #8D6E63;
  color: white !important;
  border: 1px solid #8D6E63;
  padding: 10px;
  font-weight: bold;
  width: 30%;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 50px; 
  background-color: #4E342E;
  color: white;
  text-decoration: none;
  border-radius: 50px; 
  font-weight: bold;
  font-size: 1.2rem;   
  transition: opacity 0.3s; 
}

.btn:hover {
  opacity: 0.8; 
}
