.hero-section {
  background-image: url('panda.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
}
/* 写真が明るくても文字が読めるように文字に影をつける */
.hero-section h1, .hero-section p {
  text-shadow: 0 2px 5px rgba(0,0,0,0.7);
} 
h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1em;
}
p {
  font-size: 1.2rem;
  opacity: 0.9;
}
.btn {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: whilte;
  color: #333;
}
