/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #00a0a0;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
}

/* --------------------
        見出し
-------------------- */

h1, h2 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

